<div class="container text-black">
  <h1 class="text-center">Dashboard
    <%= link_to new_project_task_path do %>
      <i class="fa fa-plus" aria-hidden="true"></i>
    <% end %>
  </h1>

  <div class="col-sm-2">
    <h4>My projects</h4>
    <% @projects.each do |project| %>
      <%= link_to  project_tasks_path(project_id: project.id) do %>
        <p class='<%= project == @project ? "active" : "" %>'><%= project.name.capitalize %></p>
      <% end %>
    <% end %>
    <%= link_to tasks_path do %>
      <p class='<%= "active" unless params[:project_id].present? %>'>All tasks</p>
    <% end %>
        <%= link_to new_project_path do %>
      Add a new project<i class="fa fa-plus" aria-hidden="true"></i>
    <% end %>
  </div>

  <div class="col-sm-6">
<% unless @tasks_no_realised.empty? %>
  <h4>To do</h4>
  <% @tasks_no_realised.each do |task| %>
    <div class="card_task_dashboard">
      <div><b>
      <%= link_to project_task_path(task.project, task) do %>
      <%= task.name.capitalize %> </b>
      <% end %></div>
      <div>Durée: <%= task.forecast_duration %> </div>
      <div>Real duration: <%= task.elapsed_time %></div>
      <div><%= task.id %></div>
      <%= link_to edit_project_task_path(task.project, task) do %>
        <i class="fa fa-pencil" aria-hidden="true"></i>
      <% end %>
      <%= link_to project_task_path(task.project.id, task.id), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fa fa-times" aria-hidden="true"></i>
      <% end %>
    </div>
  <% end %>
  <% end %>

<% unless @tasks_futur.empty? %>

  <h4>In progress</h4>
  <% @tasks_futur.each do |task| %>
    <div class="card_task_dashboard">
      <div><b> <%= task.name.capitalize %> </b> </div>
      <div>Durée: <%= task.forecast_duration %> </div>
      <div>Real duration: <%= task.elapsed_time %></div>
      <div><%= task.id %></div>
      <%= link_to edit_project_task_path(task.project, task) do %>
        <i class="fa fa-pencil" aria-hidden="true"></i>
      <% end %>
      <%= link_to project_task_path(task.project.id, task.id), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fa fa-times" aria-hidden="true"></i>
      <% end %>
    </div>
  <% end %>
    <% end %>

<% unless @tasks_finished.empty? %>
  <h4>Finished</h4>
  <% @tasks_finished.each do |task| %>
    <div class="card_task_dashboard">
      <div><b> <%= task.name.capitalize %> </b> </div>
      <div>Durée: <%= task.forecast_duration %> </div>
      <div>Real duration: <%= task.elapsed_time %></div>
      <div><%= task.id %></div>
      <%= link_to edit_project_task_path(task.project, task) do %>
        <i class="fa fa-pencil" aria-hidden="true"></i>
      <% end %>
      <%= link_to project_task_path(task.project.id, task.id), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fa fa-times" aria-hidden="true"></i>
      <% end %>
    </div>
  <% end %>
<% end %>
    <div class="card_task_dashboard">
      <h4 class="text-center">
        Ajouter une tâche <i class="fa fa-plus" aria-hidden="true"></i>
      </h4>
      <%= simple_form_for [@project, @task] do |f| %>
        <%= f.input :name %>
        <%= f.input :forecast_duration %>
        <%= f.hidden_field :project_id, value: @project.id %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>

  <div class="col-sm-3" id="la">
    <h4>Data</h4>
    <p>Deadline: <%= @date %></p>
    <p>Progress:</p>
    <div class="clearfix">
      <div class="c100 p<%= @avancement.to_i %> big">
          <span><%= @avancement %>%</span>
          <div class="slice">
              <div class="bar"></div>
              <div class="fill"></div>
          </div>
      </div>
    </div>
    <p>Total time: <%= @time %> seconds</p>
  </div>

</div>
