<% content_for :body_id, "dashboard_user" %>
<div class="gradient-background">
  <div class="container text-white">
    <div class="full-sized margin-top-max">
      <h1 class="text-center"><%= @project.name %></h1>



      <div class="col-sm-8 text-black">
        <% if @tasks_to_do.empty?  %>
          <h4 id="todo-title" class="hidden">To do</h4>
          <div id="tasks">
          </div>
        <% end %>

        <% unless @tasks_to_do.empty? %>
          <h4>To do</h4>
          <div id="tasks">
            <% @tasks_to_do.each do |task| %>
            <%= render 'tasks/show', task: task %>
            <% end %>
          </div>
        <% end %>
        <div class="card_task_dashboard text-black">
          <h4 class="text-center"> Ajouter une tâche
            <i class="fa fa-plus" aria-hidden="true"></i>
          </h4>
          <%= render 'tasks/form', project: @project, task: @task %>
        </div>
        <% unless @tasks_in_progress.empty? %>
          <h4>In progress</h4>
          <% @tasks_in_progress.each do |task| %>
            <div class="card_task_dashboard text-black">
              <div>
                <b><%= task.name.capitalize %></b>
              </div>
              <div>Estimation: <%= Time.at(task.estimation).utc.strftime("%Hh %Mmin") %> </div>
              <div>Time realised: <%= Time.at(task.elapsed_time).utc.strftime("%Hh %Mmin") %></div>
              <%= link_to edit_project_task_path(task.project, task) do %>
              <i class="fa fa-pencil" aria-hidden="true"></i>
              <% end %>
              <%= link_to project_task_path(task.project.id, task.id), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="fa fa-times" aria-hidden="true"></i>
            <% end %>
          </div>
          <% end %>
        <% end %>
        <% unless @tasks_finished.empty? %>
          <h4>Finished</h4>
          <% @tasks_finished.each do |task| %>
            <div class="card_task_dashboard text-black">
              <div><b> <%= task.name.capitalize %> </b> </div>
              <div>Estimation: <%= Time.at(task.estimation).utc.strftime("%Hh %Mmin")  %> </div>
              <div>Real time: <%= Time.at(task.elapsed_time).utc.strftime("%Hh %Mmin")  %></div>
              <%= link_to edit_project_task_path(task.project, task) do %>
              <i class="fa fa-pencil" aria-hidden="true"></i>
              <% end %>
              <%= link_to project_task_path(task.project.id, task.id), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="fa fa-times" aria-hidden="true"></i>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="col-sm-4">
      <div id="dashboard-right">
        <h4>Data</h4>
        <div class="text-center bg-white text-black cornerized padded margin-top-classic box-shadowed">
          <h5>Deadline: <%= @date.strftime("%d-%m-%Y") %></h5>
          <p>Tasks:</p>
          <div class="clearfix">
            <div class="c100 p<%= @tasks.empty? ? 0 : @pourcent_done.to_i  %> medium">
              <span><%= @tasks_done %>/<%= @total_task %></span>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
          </div>
          <p>Total passed in this project: <%= @time_passed  %></p>
          <p>Temps de travail restant à faire: <%= @time_to_do%> </p>
          <% unless @tasks_finished.empty?  %>
            <% if @prevision < 0 %>
              <div class="text-green text-center">
                <% if Time.at(@prevision).utc.strftime("%H").to_i == 0 %>
                  Avance: <%= Time.at(@prevision).utc.strftime("%Mmin") %>
                <% else %>
                  Avance: <%= Time.at(@prevision).utc.strftime("%Hh %Mmin") %>
                <% end %>
                <p><%= @project.price_avancement %> €</p>
              </div>
            <% elsif @prevision > 0 %>
              <div class="text-red text-center">
                <% if Time.at(@prevision).utc.strftime("%H").to_i == 0 %>
                  Retard: <%= Time.at(@prevision).utc.strftime("%Mmin") %>
                <% else %>
                  Retard: <%=Time.at(@prevision).utc.strftime("%Hh %Mmin")%>
                <% end %>
                <p><%= @project.price_avancement %> €</p>
              </div>
            <% elsif @prevision == 0 %>
              <div class="text-blue text-center">Keep going like that 👍</div>
              <p> Progress: </p>
              <div id="progress-bar" data-percent_done="<%= @pourcent_done %>"></div>
            <% end %>
          <% end %>
        </div>
      </div>
      </div>


    </div>
  </div>
</div>
