<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
      <div id="clockdiv">
        <h1>C'est parti !</h1>
        <div>
          <span class="hours"></span>
          <div class="smalltext">Hours</div>
        </div>
        <div>
          <span class="minutes"></span>
          <div class="smalltext">Minutes</div>
        </div>
        <div>
          <span class="seconds"></span>
          <div class="smalltext">Seconds</div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
      <div class="btn ma-btn btn-lg btn-timer" id="button-pause">
      Pause
      </div>
      <div class="btn ma-btn btn-lg btn-timer hidden" id="button-restart">
      Resume
      </div>
      <%= simple_form_for [@project, @task] do |f| %>
        <%= f.input :elapsed_time, as: :hidden %>
        <div class="btn-timer" id="button-finish">
          <%= f.submit 'Finish', class: "btn ma-btn btn-lg btn-timer" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="timer-description">
      <h4>  <%= @task.name %> </h4>
      <h4> Temps estimé : <%= @task.forecast_duration %>min</h2>
      </div>
    </div>
  </div>
</div>


