l1<div class="container text-black">
  <div class="row text-black">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
      <div id="clockdiv">
        <h1 class="text-black">C'est parti !</h1>
        <div>
          <span class="hours"></span>
          <div class="smalltext">Hours</div>
        </div>
        <div>
          <span class="minutes"></span>
          <div class="smalltext">Minutes</div>
        </div>
        <div>
          <span class="seconds"></span>
          <div class="smalltext">Seconds</div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">

      <div class="btn-timer-wrapper">
      <!-- enregister le nombre en pause dans elapsed_time sans mettre done: true mais fait une redirection. todo: enlever la redirection -->
        <div class="btn ma-btn btn-lg btn-timer" id="button-pause">
                <%= simple_form_for [@project, @task] do |f| %>
          <%= f.input :elapsed_time, as: :hidden %>
          <div class="btn-timer" id="button-finish">
            <%= f.submit 'Pause', class: "btn ma-btn btn-lg" %>
          </div>
        <% end %>


        </div>
        <div class="btn ma-btn btn-lg hidden btn-timer" id="button-restart">
        Resume
        </div>
        <%= simple_form_for [@project, @task] do |f| %>
          <%= f.input :elapsed_time, as: :hidden %>
          <%= f.input :done, as: :hidden, input_html: {value: true} %>
          <div class="btn-timer" id="button-finish">
            <%= f.submit 'Finish', class: "btn ma-btn btn-lg" %>
          </div>
        <% end %>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="timer-description">
      <% if @task.mit_task == true %>
        <h4> Tâche : <%= @task.name %></h4>
      <% else %>
        <h4>  Tâche : <%= @task.name %></h4>
      <% end %>
      <h4> Temps estimé : <%= @task.forecast_duration %>min</h2>
      </div>
    </div>
  </div>
</div>
