<% content_for :body_id, "dashboard_user" %>
<div class="photo-background">
<div class="container text-black">
<div class=" full-sized margin-top-max">
  <div class="row">
    <h1>My projects</h1>
    <div class="col-sm-8 col-sm-offset-2">
      <% @projects.each do |project| %>
        <div class="card_projects">

          <div class="card_description">
            <div class="card_description_content_wrapper">

              <div class="card_info">
                <%= link_to project_tasks_path(project) do%>
                  <h4><%= project.name %></h4>
                <% end %>
                <br>
                <%= project.description %>
              </div>

              <div class="card_stats">
                <div class="clearfix">
                  <div class="c100 p<%= project.tasks.empty? ? "0" : ((project.tasks.where(done: true).count.to_f / project.tasks.count.to_f) * 100).to_i %> small">
                    <span> <%=project.tasks.where(done: true).count %>/<%= project.tasks.count %></span>
                    <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="btn_setting">
                <%= link_to edit_project_path(project) do %>
                  <i class="fa fa-cog" aria-hidden="true"></i>
                <% end %>

              </div>
            </div>
          </div><br>

          <div class="card_bas">
            <span>
              Client: <%= project.client.name %>
            </span>
            <span>
              Coût du projet: <%= project.price_per_project %> €
            </span>
            <span>
              Deadline: <%= project.end_date %>
            </span>
          </div>

        </div><br>
      <% end %>
    </div>
  </div>
</div>
      <%= link_to new_project_path do %>
        <button class="text-center btn-success"> Add a new project </button>
      <% end %>
</div>
</div>