<h1>My list of projects</h1>
<% @projects.each do |project| %>
  <h2><%= project.name %></h2>
  <p><%= project.description %></p>
  <p><%= project.end_date %></p>
  <p><%= project.client_id %></p>
  <p><%= project.price_per_day %></p>
<% end %>

    <%= link_to new_project_path do %>
      <i class="fa fa-plus" aria-hidden="true"></i>
    <% end %>
