<div class="container">
  <%= link_to new_project_path do %>
    <p class="text-center">Add a new project</p>
  <% end %>
  <h1>My list of projects</h1>
  <% @projects.each do |project| %>
    <%= link_to project_path(project) do%>
    <h3><%= project.name %></h3>
    <% end %>
    <p><%= project.description %></p>
    <p>Échéance: <%= project.end_date %></p>
    <p>Client: <%= project.client.name %></p>
    <p>Prix journalier: <%= project.price_per_day %></p>
  <% end %>
</div>
