<div class="text-black timer-button-inline">
  <div id="clockdiv">
<!--     <div>
      <span class="hours"></span>
    </div> -->
    <div>
      <span class="minutes"></span>
    </div>
    <div>
      <span class="seconds"></span>
    </div>
  </div>
  <input id="current_elapsed_time" type="text" style="display: none;" value="<%= task.elapsed_time %>">
  <%= simple_form_for [project, task], remote: true do |f| %>
    <%= f.input :elapsed_time, as: :hidden, input_html:{id: "elapsed_time_pause"} %>
    <%= button_tag type: 'submit', class: "btn ma-btn btn-timer", id: "button-pause" do %>
      <i class="fa fa-3x fa-pause-circle-o button-dashboard-padding" aria-hidden="true"></i>
    <% end %>
  <% end %>
  <div class="btn ma-btn hidden btn-timer" id="button-restart">
    <i class="fa fa-3x fa-play-circle button-dashboard-padding" aria-hidden="true"></i>
  </div>
  <%= simple_form_for [project, task] do |f| %>
    <%= f.input :elapsed_time, as: :hidden %>
    <%= f.input :done, as: :hidden, input_html: {value: true} %>
    <div class="btn ma-btn btn-timer" id="button-finish">
      <%= button_tag type: 'submit' , class: "btn ma-btn" do %>
        <i class="fa fa-3x fa-check-circle-o" aria-hidden="true"></i>
      <% end %>
    </div>
  <% end %>
</div>
